[submodule "eventcalendar"]
	path = eventcalendar
	url = git@github.com:Zren/plasma-applet-eventcalendar.git
	ignore=dirty
[submodule "volumewin7mixer"]
	path = volumewin7mixer
	url = git@github.com:Zren/plasma-applet-volumewin7mixer.git
	ignore=dirty
[submodule "tiledmenu"]
	path = tiledmenu
	url = git@github.com:Zren/plasma-applet-tiledmenu.git
	ignore=dirty
[submodule "todolist"]
	path = todolist
	url = git@github.com:Zren/plasma-applet-todolist.git
	ignore=dirty
[submodule "volumeslider"]
	path = volumeslider
	url = git@github.com:Zren/plasma-applet-volumeslider.git
	ignore=dirty
[submodule "terminalupdate"]
	path = terminalupdate
	url = git@github.com:Zren/plasma-applet-terminalupdate.git
	ignore=dirty
[submodule "presentwindows"]
	path = presentwindows
	url = git@github.com:Zren/plasma-applet-presentwindows.git
	ignore=dirty
[submodule "commandoutput"]
	path = commandoutput
	url = git@github.com:Zren/plasma-applet-commandoutput.git
	ignore=dirty
[submodule "batterytime"]
	path = batterytime
	url = git@github.com:Zren/plasma-applet-batterytime.git
	ignore=dirty
[submodule "win7showdesktop"]
	path = win7showdesktop
	url = git@github.com:Zren/plasma-applet-win7showdesktop.git
	ignore=dirty
[submodule "kdeconnectdevice"]
	path = kdeconnectdevice
	url = git@github.com:Zren/plasma-applet-kdeconnectdevice.git
	ignore=dirty
[submodule "alphablackcontrol"]
	path = alphablackcontrol
	url = git@github.com:Zren/plasma-applet-alphablackcontrol.git
	ignore=dirty
