[Desktop Entry]
Name=volumeslider
Comment=

Type=Service
Icon=help-about
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Main.qml

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=com.github.zren.volumeslider
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=https://github.com/Zren/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
