[Desktop Entry]
Name=Volume Slider
Comment=A simple horizontal volume slider panel widget.

Type=Service
Icon=org.kde.plasma.volume
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Main.qml

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=com.github.zren.volumeslider
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=https://github.com/Zren/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
